@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mt-5">
        <h3>範例功能</h3>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">MVC 範例</h5>
                        <p class="card-text">MVC 模型與視圖的交互範例</p>
                        <a asp-action="Products" class="btn btn-primary">查看產品列表</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
